*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background: linear-gradient(90deg, #222831 75%, #f05454 25%);
}
.text{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    font-size: 35px;
    letter-spacing: 7px;
}
.time{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    letter-spacing: 35px;
}
